.content-tables {
    margin-top: 20px;
    overflow: hidden;
    margin-top: 20px;
    padding: 0 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 5px 1px rgb(0 0 0 / 10%) !important;
}
  
.content-tables .table th .mat-form-field {
   pointer-events: none !important;
}

.table {
    overflow: hidden;
    overflow-x: auto;
    box-shadow: 0 1px 5px 1px rgb(0 0 0 / 5%);
}

.content-tables .table .table__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.content-tables .table .table__actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

table.table-detail {
    width: 100%;
    background-color: var(--color-theme-two);
}

table.table-detail th,
table.table-detail td {
  text-align: center;
}

table.table-detail th {
  color: var(--color-theme-principal);
}

.content-tables .table .table__actions .btn-table {
  width: 100px;
  border-radius: 8px;
  padding: 5px 8px;
}

.content-tables .table .table__actions .btn-table__colors {
  color: var(--color-theme-principal);
  border: 1px solid var(--color-theme-principal);
}

.icon-edit {
  color: var(--color-theme-principal);
}

.icon-delete {
  color: var( --color-icon-delete);
}
  