<h3 class="title container">Respuesta de Solicitud</h3>
<section class="application-response">
    <section class="content-info">
        <div class="content-inputs">
            <label>Respuesta</label>
            <mat-form-field appearance="outline">
                <mat-label>Respuesta</mat-label>
                <mat-select placeholder="Seleccionar" (selectionChange)="selectionChangeRes($event)">
                    <mat-option value="aprobada">Aprobada</mat-option>
                    <mat-option value="rechazada">Rechazada</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="content-inputs">
            <label>Motivo</label>
            <mat-form-field appearance="outline" class="margin-left">
                <mat-label>Motivo</mat-label>
                <mat-select placeholder="Seleccionar" (selectionChange)="selectionChangeMot($event)">
                    <mat-option value="fotoNoCoincide">Fotografía del Cliente no Coincide</mat-option>
                    <mat-option value="fotoBorrosa">Fotografía Borrosa o Manipulada</mat-option>
                    <mat-option value="fotoNoVisible">Fotografía no Visible</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </section>
    <mat-form-field class="observations" appearance="outline" class="textarea">
        <mat-label>Observaciones...</mat-label>
        <textarea (keyup)="changeTextArea($event)" matInput></textarea>
    </mat-form-field>
</section>