<h3 class="title container">Respuesta de Solicitud</h3>
<section class="application-response">
    <section class="content-info">
        <div class="content-inputs">
            <label>Respuesta</label>
            <mat-form-field appearance="outline">
                <mat-label>Respuesta</mat-label>
                <mat-select placeholder="Seleccionar">
                    <mat-option value="Aprobada">Aprobada</mat-option>
                    <mat-option value="Rechazada">Rechazada</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="content-inputs">
            <label>Respuesta</label>
            <mat-form-field appearance="outline">
                <mat-label>Respuesta</mat-label>
                <mat-select placeholder="Seleccionar">
                    <mat-option value="Aprobada">Aprobada</mat-option>
                    <mat-option value="Rechazada">Rechazada</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </section>
    <mat-form-field class="observations" appearance="outline" class="textarea">
        <mat-label>Observaciones...</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</section>