.select-records {
    width: 300px;
}

.information-client {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.btn-blue { 
    font-size: 0.9rem;
    width: auto;
    background-color: var(--color-theme-principal) !important;
    color: white !important;
}

.content-button-actions {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.information-client .select-records {
    width: 300px;
    height: 50px;
}

.content-button-actions:nth-child(3) {
    width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .information-client .select-records {
        width: 100%;
        margin-bottom: 10px;
    }
}