<section>
    <h3 class="title-page container">Links externos</h3>
    <div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="INE">
                <section class="content-tables">
                    <table class="table">
                        <tr>
                            <th>Selecciona tu respuesta de acuerdo al resultado de la búsqueda</th>
                            <th class="titles">SI</th>
                            <th class="titles">NO</th>
                            <th class="titles">No Aplica</th>
                        </tr>
                        <tr>
                            <td>¿La información devuelta por tus consultas es vigente?</td>
                            <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                            <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                            <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        </tr>
                        <tr>
                            <td>¿La información devuelta por las coincide con la identificación del cliente?</td>
                            <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                            <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                            <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        </tr>
                    </table>
                </section>
            </mat-tab>
            <mat-tab label="CURP">
                <table class="table">
                    <tr>
                        <th>Selecciona tu respuesta de acuerdo al resultado de la búsqueda</th>
                        <th class="titles">SI</th>
                        <th class="titles">NO</th>
                        <th class="titles">No Aplica</th>
                    </tr>
                    <tr>
                        <td>¿La información devuelta por tus consultas es vigente?</td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                    </tr>
                    <tr>
                        <td>¿La información devuelta por las coincide con la identificación del cliente?</td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                    </tr>
                </table>
            </mat-tab>
            <mat-tab label="SEPOMEX">
                <table class="table">
                    <tr>
                        <th>Selecciona tu respuesta de acuerdo al resultado de la búsqueda</th>
                        <th class="titles">SI</th>
                        <th class="titles">NO</th>
                        <th class="titles">No Aplica</th>
                    </tr>
                    <tr>
                        <td>¿La información devuelta por tus consultas es vigente?</td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                    </tr>
                    <tr>
                        <td>¿La información devuelta por las coincide con la identificación del cliente?</td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                    </tr>
                </table>
            </mat-tab>
            <mat-tab label="OTROS">
                <table class="table">
                    <tr>
                        <th>Selecciona tu respuesta de acuerdo al resultado de la búsqueda</th>
                        <th class="titles">SI</th>
                        <th class="titles">NO</th>
                        <th class="titles">No Aplica</th>
                    </tr>
                    <tr>
                        <td>¿La información devuelta por tus consultas es vigente?</td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                    </tr>
                    <tr>
                        <td>¿La información devuelta por las coincide con la identificación del cliente?</td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                        <td class="checkbox"><mat-checkbox></mat-checkbox></td>
                    </tr>
                </table>
            </mat-tab>                
        </mat-tab-group>
    </div>
</section>