.title-page {
    margin-top: 20px;
}

.content-tables {
    -webkit-overflow-scrolling: touch; /*mejora el scroll en dispositivos moviles*/
    width: 100%;
    overflow-x: auto;
}

.content-tables table {
    width: 100%;
    border-collapse: collapse;
}

.content-tables table th, .content-tables table td {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: start;
}

.content-tables table .titles,
.content-tables table .checkbox {
    text-align: center;
}

@media screen and (max-width: 768px) {
    table {
        min-width: 500px;
        width: 100%;
    }
    
    th, td {
        font-size: 0.8rem;
    }
}